<div class="btn-group" style="align-items:center; text-align:center">
    <button (click)="startUp()" *ngIf="rafID === null||undefined">Restart</button>
    <form [formGroup]="myForm">
        <label for="txtNumberOfObstacles">Number Of Obstacles</label>
        <input type="number"
               id="txtNumberOfObstacles"
               [min]="3"
               [max]="15"
               [formControl]="myForm.get('txtNumberOfObstacles')"
               [(ngModel)]="numberOfObstacles">
  </form>
</div>
<div class="container">
  <canvas id="snake-game" #snakeGameCanvas></canvas>
</div>
